@tailwind base;
@tailwind components;
@tailwind utilities;

.auth {
  background-image: url('/authBackground.svg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

@layer utilities {
  .loading { 
    @apply bg-zinc-400
  }
}

:disabled {
  @apply cursor-not-allowed opacity-60;
}
* {
  @apply outline-pink-600;
}
span.symbol {
  font-family: 'Material Icons', sans-serif;
  display: inline-block;
 
  position: relative;
  top: 1px;
}

body {
  background-color: #fffefe;
}
button {
  border-radius: 6px;
  font-weight: 500;
}
button.pagination {
  padding: 7px 9px;
  border: 1px solid;
  cursor: pointer;
  @apply bg-neutral-50 text-zinc-600 border-zinc-300 rounded hover:bg-slate-200;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
form label {
  font-weight: 500;
}
form input,
form textarea {
  padding: 3px 6px;

  border-radius: 4px;
  border: 1px solid;
  @apply border-slate-500;
}
form input[type="color"] {
  padding: 1px 3px;
  background-color: #fff;
}
form select {
  @apply border-2 border-pink-600 p-1 pr-2;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 90;

  background-color: rgba(21, 4, 29, 0.6);
  backdrop-filter: blur(6px);

  transition: .6s;
}
.modal > div {
  width: 400px;
  border-radius: 8px;
  @apply bg-white py-3 px-2 pb-4;
}
.modal div * {
  max-width: 96%;
}
.modal button span {
  background: none;
}
.modal .description {
  position: relative;
  bottom: 2px;
  left: 9px;
  @apply self-start;
}

nav {
  min-height: 64px;
  justify-content: space-between;

  border-bottom: 2px solid;
  @apply border-zinc-500;
}

.heading h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 2.25rem;
}
.heading p {
  font-size: 17px;
  padding-left: 1px;
  padding-top: 2px;
  @apply text-slate-400;
}

.separator {
  @apply border-b-2 border-slate-300;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: ;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 215 20.2% 65.1%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: ;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 217.2 32.6% 17.5%;
  }
}